<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/{% if scope == 'earth' -%}
f/f4/WLE_Austria_Logo.svg/100px-WLE_Austria_Logo.svg.png{% elif scope == 'monuments' -%}
f/f3/LUSITANA_WLM_2011_d.svg/100px-LUSITANA_WLM_2011_d.svg.png{% elif scope == 'africa' -%}
e/e0/Wiki_Loves_Africa_Logo_Vectorized.svg/150px-Wiki_Loves_Africa_Logo_Vectorized.svg.png{% elif scope == 'public_art' -%}
3/3c/Wikilovespublicart_4.svg/120px-Wikilovespublicart_4.svg.png{% elif scope == 'science' -%}
a/a3/Logo_for_Wiki_Science_Competition.svg/200px-Logo_for_Wiki_Science_Competition.svg.png{% else -%}
6/66/Camera2_mgx.svg/100px-Camera2_mgx.svg.png{% endif %}" style="float:right"/>
