{% extends "base.html" %}
{% block head %}
        <script>
var data = [
{%- for scope, series in data|dictsort %}
{id: "graph-{{ scope }}", type: "bar", name: "{{ scope }}", series: [
    {% for year, d in series|dictsort -%}
    {year: {{ year }}, {#
   #}count: {{ d['count'] }}, {#
   #}usage: {{ d['usage'] }}, {#
   #}usercount: {{ d['usercount'] }}, {#
   #}userreg: {{ d['userreg'] }}}{% if not loop.last %}, {% endif %}
    {% endfor -%}
]}{% if not loop.last %}, {% endif %}
{%- endfor %}
]
	</script>
{% endblock %}
{% block content %}
{% if data %}

{% set contests = [
    ('earth', '#339966', '#45E695' ),
    ('monuments', '#8F0000', '#E62E2E' ),
    ('africa', '#DC5757', '#E62E2E' ),
    ('public_art', '#004B71', '#ABE3FF' ),
    ('science', '#8F0000', '#E62E2E' ),
] %}

{% for scope, bg_color_1, bg_color_2 in contests %}
<h2>{{ events_names[scope] }}</h2><hr/>
{% include "contest_logo.html" %}
<div id="graph-{{ scope }}"></div><br/>
<table style="text-align:center; border-collapse:collapse; min-width:500px; margin-top:8px">
    <tr>
        <th>Year</th>
        <th>Countries</th>
        <th style="background-color:{{bg_color_1}}; color:white">Uploads</th>
        <th style="background-color:{{bg_color_2}}">Images used<br/>in the wikis</th>
        <th style="background-color:#2266AA; color:white">Uploaders</th>
        <th style="background-color:#5CA3E6; color:white">Uploaders registered<br/>after competition start</th>
    </tr>
    {% for year, d in  data[scope]|dictsort -%}
    <tr>
        <td><a href="{{ url_for('index') }}{{ scope }}/{{ year }}">{{ year }}</a></td>
        <td>{{ d['country_count'] }}</td>
        <td style="background-color:#F8F8F8">{{ d['count'] }}</td>
        <td>{{ d['usage'] }} ({{ (100 * d['usage'] / d['count'] if d['count'] != 0 else 0)|int }}%)</td>
        <td style="background-color:#F8F8F8">{{ d['usercount'] }}</td>
        <td>{{ d['userreg'] }} ({{ (100 * d['userreg'] / d['usercount'] if d['usercount'] != 0 else 0)|int }}%)</td>
    </tr>{% endfor %}
</table>
<br/><br/>
{% endfor %}

<h2>Countries</h2><hr/>
<table style="text-align:center; border-collapse:collapse; min-width:400px; margin-top:8px">
    <tr>
        <th>Country</th>
        {% for scope, bg_color_1, _ in contests %}
        <th style="background-color:{{ bg_color_1 }}; color:white">{{ events_names[scope] }}</th>
        {% endfor %}
    </tr>
    {%- for c, events in countries|dictsort %}
    <tr>
        <td><a href="{{ url_for('country', name=c) }}">{{ c }}</a></td>
        {%- for event in events %}
        <td>{{ event|sort|join(', ') if event else ''}}</td>
        {%- endfor %}
    </tr>
    {%- endfor %}
</table>
<br/>

<h2>Tool Configuration</h2><hr/>
<p>The data is updated once a day and before each update the configuration is read from the <a href="https://commons.wikimedia.org/wiki/Module:WL_data">Module:WL data</a> in Commons, edit the module to add countries, add a new competition or modify the configuration.
The name the country of each prefix and the competition period need to be configured in this page. 
See the <a href="{{ url_for('logpage') }}">log page</a> to help find erros in the configuration.</p>
<p>The tool database is available for <a href="./db.json">download</a></p>
{% else %}
<p>Error: no database found</p>
{% endif %}
{% endblock %} 
